<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee http://www.springmodules.org/schema/cache/springmodules-cache.xsd http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
  <display-name>Archetype Created Web Application</display-name>
     <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-mybatis.xml</param-value>
	</context-param>
    
    <!--  -->
  	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
  	
	<!-- 共享session -->
  	<!--bboss session管理支持 -->
	 <listener>
       <listener-class>org.frameworkset.web.listener.ApplicationLifeListener</listener-class>
     </listener>

     <!-- bboss session拦截过滤器，必须放在其他的过滤器前面 -->
    <filter>
         <filter-name>sessionFilter</filter-name>
         <filter-class>org.frameworkset.security.session.impl.SessionFilter</filter-class>
        <!-- 配置不需要做session拦截的请求地址模式 -->
		<init-param>
			<param-name>excludePatterns</param-name>
			<param-value>/**/*.js,/**/*.css,/**/*.gif,/**/*.png</param-value>
		</init-param>
		 <!-- 配置需要特殊拦截session请求地址模式（比如动态生成的图形校验码地址） -->
		<init-param>
			<param-name>includePatterns</param-name>
			<param-value>/validateimage.gif</param-value>
		</init-param>
    </filter>
 		<!--bboss session拦截过滤器拦截地址映射配置，如果在项目中用了spring security或者其他的安全框架，则必须包含这些安全框架拦截的地址映射 -->
     <filter-mapping>
     	<filter-name>sessionFilter</filter-name>
       <url-pattern>/*</url-pattern>
     </filter-mapping>
	<!--  -->
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>
